* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #404040;
}

/* header */

ul.header li {
  list-style-type: none;
}

ul.header li a {
  color: #112e61;
  text-decoration: none;
  font-weight: 600;
}

ul.header li a:hover {
  color: #f60;
}

/* hero */

h1 {
  font-size: 35px;
  font-weight: 600;
}

.subtexto-header {
  font-size: 16px;
}

.button {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

/* Conteudos Gratuitos */

h2.conteudos-gratuitos {
  font-size: 35px;
  font-weight: 400;
}

h2 span.roxo {
  font-size: 35px;
  font-weight: 600;
  color: #7a40be;
}

h3.titulo-conteudos {
  font-size: 23px;
  font-weight: 700;
}

img.icone-conteudo {
  height: 50px;
}

ul.links-redes-sociais a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
}

ul a li {
  list-style-type: none;
}

ul.icones-redes-sociais a li img {
  height: 18px;
}

/* Diferenciais */

.diferenciais {
  font-size: 35px;
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

p.complemento-titulo {
  font-size: 23px;
  text-align: left;
}

h3.sub-titulo {
  color: #005e88;
  font-size: 24px;
  font-weight: 600;
}

p.sub-texto {
  font-size: 16px;
  font-weight: 400;
}

h3.empresas {
  font-size: 35px;
  font-weight: 400;
}

h3.empresas a {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  color: #005e88;
}

h2.falam {
  font-size: 35px;
  font-weight: 400;
}

h2.falam span {
  font-weight: 700;
  font-size: 35px;
}
